  
<div class="press">

        <div class="pressText">
            <h3>
                <a href="https://gameskeys.net/top-offline-games-to-play-on-ios-hidden-gems/#Dots">Gameskeys</a>
            </h3>
            <p>
                "The best game to demonstrate your skill with puzzles"
            </p>
        </div>
  
       <div class="pressText">
            <h3>
                <a href="https://www.elsoldehermosillo.com.mx/doble-via/dots-of-war-el-videojuego-disenado-en-estudio-independiente-de-hermosillo-5218240.html">El Sol de Hermosillo [ES]</a>
            </h3>
            <p>
                "Dots of War, el videojuego diseñado en estudio independiente de Hermosillo"
            </p>
        </div>
</div>

