  
<div class="press">

        <div class="pressText">
            <h3>
                <a href="https://gameskeys.net/top-offline-games-to-play-on-ios-hidden-gems/#Dots">Gameskeys</a>
            </h3>
            <p>
                "The best game to demonstrate your skill with puzzles. Dots of War is an addictive and competitive puzzle game (based on dots and boxes or Timbiriche) in which you have to connect points with lines to gain ground against your opponent. Choose one of the three clans available to compete online."
            </p>
        </div>
</div>

